
.icon-play:before { content: '\e800'; } /* '' */
.icon-play-circled2:before { content: '\e801'; } /* '' */
.icon-play-outline:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-patronite:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */